
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('./fonts/mapo/MapoFlowerIsland.woff') format('woff');
    src: url('./fonts/mapo/MapoFlowerIsland.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}